/***************************************/
/***    STYLESHEET GROUP EXCERCISE   ***/
/***************************************/

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background: rgb(17,17,17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

p {
    color: rgb(77,77,77);
}
h1{
    padding:15px;
}
h2 {
    color: rgb(255,165,0);
}
h3 {
    color: rgb(255,165,0);
}

button{
    cursor: pointer;
}

.container-fluid{

    padding:0;
}

.col-style {
    padding: 0;    
}

.row {
    margin: 0;
    height: auto;
    border-bottom:2px solid white;
    
}
.row-personal-input{
    background-color: grey;
    padding: 0 15 0 15;

}
.row-car {
    background-color: rgb(75, 75, 75);    
    height: auto;
    margin: 0rem 1.5rem 0rem 1.5rem;    
    min-height: 300px;
        
}

.row-car h2 {
    color: rgb(255,165,0);
    font-family: 'Roboto Condensed', sans-serif;    
}

.row-car p {
    color: white;
}
.row-car-hd {
    display: none;
}

.row-course-hd {
    display: none;
    padding: 1.5rem;    
}

.course-info {
    position: relative;    
}

.row-course img {
    width: 100%;
    margin: 0;
}
#course-img {
    border-right: 1px solid white;
}

.row-course {
    margin: 0rem 1.5rem 0rem 1.5rem;
}

.course-text {
    padding: 1.5rem 0 1.5rem 1.5rem;
}
.course-text p {
    color: rgb(248,248,248);
}


/* Carousel */
.carousel-canister {
    overflow: hidden;
}

.carousel-container {
    position: relative; 
}
.text-content{
    background-color: rgb(75, 75, 75);
    height: auto;
    padding: 1.5rem;
}

.text-content p{
    font-size: 18px;
}

#img-car {
    width: 100%;
    height: auto;
}

.img-links {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(136, 129, 129, 0.6);
    color: rgb(228, 228, 228);
    padding: 8px;
}

a.img-singles {
    display: inline-block;
    font-size: 0.94em;
    font-weight: 600;
    padding: 4px;
    text-shadow: 1px 1px 0.5px rgb(120,120,120);
}

a.img-singles:hover {
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
}

#back-btn {
  /*  position: absolute;
    bottom: 0; */   
    width: 100%;
    background-color: rgba(208, 163, 93, 0.4);
    background-color: transparent;
    background: rgba(108, 163, 93, 0.2);

    color: rgb(228, 228, 228);
    font-weight: 600;
    /*border-bottom: 2px solid rgb(208, 163, 93);
    border-top: 1px solid rgb(208, 163, 93); */    
    border-radius: 0;
}

#back-btn:hover {
    color: rgb(255, 255, 255);
    background: rgba(208, 163, 93, 0.92);
    background: rgba(222, 222, 222);

    color: rgb(255, 153, 0);
    font-weight: 700;
    font-size: 1em;
}

/* Navbar-style */
.navbar{
    background-color: rgb(73, 115, 122);
    margin: 0 1.5rem 0 1.5rem;
}
.navbar-brand  {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: rgb(225, 241, 77) !important;
}
.nav-link {
    color:rgb(44, 44, 44) !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    
}
.nav-link:hover {
    color:orange !important;
    text-decoration: none;
}

/*Apply-form  */

.row-form {
    color: white;
    height: auto;
    
    min-height: 150px;
    margin: 0rem 1.5rem 0rem 1.5rem;
    background-color: rgb(0, 0, 0);
    
}
.row-form h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color:orange;
}
#apply {

    background-color: grey;
    padding: 25px;
}

#trainings {
    background-color: rgb(49, 72, 75);
    padding: 25px;
}

/* Footer-style */
.row-footer {
    color: white;
    height: 350px;
    padding: 1.5rem 0.6rem 1.5rem 0.6rem;
    min-height: 150px;
    background-color: rgb(0, 0, 0);
}

.row-footer h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color:orange;
}

.row-footer p {
    color: white;
}
.row-footer li {
    list-style: none;
    
}

.col-style-menu {
    
    
    background-color: rgb(20, 73, 73);
    padding:1rem;
    height: 100%;
}

.col-style-contact {
    
   
    background-color: rgb(10, 32, 32);
    padding:1rem;
    height: 100%;
    
}
.col-style-admin {
    
    height: 100%;
    background-color: rgb(4, 53, 53);
    padding:1rem;
    
}


.row-footer ul li{
    list-style-type:none;
    font-size: 20px;
}

.row-footer ul li:before{
    content:'✓    ';
    color:orange;
}

.row-footer ul{
    margin: 20 0 0 20;
}


/*** MEDIA QUERIES ***/

@media screen and (max-width: 991px) {   
	#course-text {
		padding: 22px 0;
	}
	.carousel-container {
		margin-left: 0;
	}
}