/***************************************/
/***    STYLESHEET GROUP EXCERCISE   ***/
/***************************************/

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    color: rgb(77,77,77);
}
h3 {
    color: rgb(57,57,57);
}

.col-style {
    padding: 0;
}

.row {
    margin: 0;
}

.row-car {
    height: auto;
    min-height: 300px;
}

.row-car-hd {
    display: none;
}

.row-course-hd {
    display: none;
}

.course-info {
    position: relative;    
}

.row-course img {
    width: 100%;
    margin: 0;
}

#course-text {
    padding: 0 22px;
}

/* Carousel */
.carousel-canister {
    overflow: hidden;
}

.carousel-container {
    position: relative;
    margin-left: 18px;
}

#img-car {
    width: 100%;
    height: auto;
}

.img-links {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(136, 129, 129, 0.6);
    color: rgb(228, 228, 228);
    padding: 8px;
}

a.img-singles {
    display: inline-block;
    font-size: 0.91em;
    font-weight: 600;
    padding: 4px;
    text-shadow: 1px 1px 0.5px rgb(120,120,120);
}

.img-singles:hover {
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
}

#back-btn {
    position: absolute;
    bottom: 0;    
    width: 100%;
    background: rgba(136, 129, 129, 0.40);
    background: rgba(208, 163, 93, 0.4);
    color: rgb(228, 228, 228);
    font-weight: 600;
    border-bottom: 2px solid rgb(208, 163, 93);
    border-top: 1px solid rgb(208, 163, 93);
    border-radius: 0;
}

#back-btn:hover {
    color: rgb(255, 255, 255);
    background: rgba(208, 163, 93, 0.92);
}


@media screen and (max-width: 991px) {   
	#course-text {
		padding: 22px 0;
	}
	.carousel-container {
		margin-left: 0;
	}
}
